<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">Liste de Produits</div>
        <div class="card-body">
            <form th:action="@{products}" method="get">
                <div class="mb-4">
                    <label>Mot Clé</label>
                    <input type="text" name="motCle">
                    <button class="btn btn-primary">Chercher</button>
                </div>
            </form>
            <table class="table">
                <tr>
                    <th>ID</th> <th>Designation</th> <th>Prix</th> <th>Quantite</th>
                </tr>
                <tr th:each="p:${pageProduits.content}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.designation}"></td>
                    <td th:text="${p.prix}"></td>
                    <td th:text="${p.quantite}"></td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page, status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                       th:href="@{products(page=${status.index}, size=${size}, motCle=${motCle})}"
                       th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>